﻿/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: #b6b7bc;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 99%;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #FFF;
    width: 100%;
    height:99px;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    /*background-color:#3a4f63;*/
    background-image:url(../img/Genesis-Kiosera_r5_c3.jpg); 

}

div.menuloggin
{
    padding: 4px 0px 4px 8px;
}

div.menuloggin ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menuloggin ul li a, div.menuloggin ul li a:visited
{
    /* background-color: #465c71;
     background-image:url(../Imagenes/Genesis-Kiosera_r5_c3.jpg); */
    border: 0px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menuloggin ul li a:hover
{
    background-color: #BDBDBD;
    color: #8A0808;
    text-decoration: none;
}

div.menuloggin ul li a:active
{
    background-color: #BDBDBD;
    color: #cfdbe6;
    text-decoration: none;
}
.DivLineaEncabezado
{
    background-image:url(../img/Genesis-Kiosera_r6_c2.jpg); 
    background-repeat:repeat-y;
    height:2px;
    position:relative;

}
.DivEncabezado
{
    background-image:url(../img/Genesis-Kiosera_r5_c3.jpg); 
    height:28px;
    position:relative;

}
.DTImagenEncabezado
{
    background-image:url('../img/Genesis-Kiosera_r5_c2.jpg'); 
    background-repeat:no-repeat;
    position:relative;
    width:78px;
    height:28px;
}
/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    text-align: left;
    width: auto;
    padding-top:0px;
    padding-right:25px;
    vertical-align:middle;
    padding-top:25px;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

.Tablas
{
    width:98%;
}

.TitulosEncabezados
{
    font-size: 12px;
    color:#000000;
    line-height: normal;
    font-family: Arial,Verdana, Helvetica;
    letter-spacing: normal;
    text-decoration: none;
    font-weight: bold;
    text-align:center;
    background-color:Gray;
    height:20px;
    vertical-align:middle;
}
.AligLeft
{
    text-align:left;
    padding-left:10px;
}
.Etiquetas
{
    font-size: 12px;
    color:#000000;
    line-height: normal;
    font-family: Arial,Verdana, Helvetica;
    letter-spacing: normal;
    text-decoration: none;
    text-align:left;
}

/*Estilos agregados*/

.TitulosEncabezados
{
    font-size: 9px;
    color:#000000;
    line-height: normal;
    font-family: Arial,Verdana, Helvetica;
    letter-spacing: normal;
    text-decoration: none;
    font-weight: bold;
    text-align:left;
    background-color:#BDBDBD;
    height:20px;
    vertical-align:middle;
}
.AligLeft
{
    text-align:left;
    padding-left:5px;
}

.TituloFactura
{
    font-size:20px;  
    height:70px; 
    color:#B40404; 
    line-height: normal; 
    font-family: Arial,Verdana, Helvetica; 
    text-align:right; 
    letter-spacing: normal; 
    text-decoration: none; 
    font-weight: bold;
    padding-right:15px;
}

.ocultarScroll
{
    overflow:hidden;
}

.EtiquetaDescargarImprimir
{
    font-weight:bold; 
    font-family:Times New Roman Arial Tahoma; 
    font-size:12px; 
    color:Black;
}
.textoFactura
{
    font-family:Arial Times New Roman Tahoma;
    font-size:11px;
    color:Black;
}
.textoFacturaCxC
{
    font-family: Arial,Verdana, Helvetica;
    font-size:12px;
    color:Black;
}

/* ESTILO DE * DE CAMPOS REQUERIDOS */
.requiredField
{
    color: #bb0112;
    font-size: 16px;
    font-weight: bold;
    vertical-align:top;
}

.validationContainer{
    padding: 1px; width:90%;
}

/* ESTILO DE * DE CAMPOS REQUERIDOS */
.requiredField
{
    color: #bb0112;
    font-size: 16px;
    font-weight: bold;
    vertical-align:top;
}

/* Estilos para el control de Resumen de validaciones*/

.ValidationSummary
{
    background-image: url(../img/alertSummary.png);
    background-repeat: no-repeat;
    background-position: left top;
    color:red;
    min-height:50px;
    padding-left:17px;

}
.Calendario {
    border:1px solid #646464;
    background-color:White;
    color:Black;
}
.titulos
{
    font-family:Arial Tahoma; 
    font-size:11px; 
    color:#8A0808; 
    font-weight:bold; 
    padding-left:10px;    
}
.DivPaginaDefault
{
    width:900px; 
    height:200px;
    vertical-align:top;
}

div.centerTable{
    text-align: center;
}

div.centerTable table {
    margin: 0 auto;
    text-align: left;
}

.TituloPrincipales
{
    font-size:14px;  
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    text-decoration: none; 
    font-weight:bold;
    color:#8A0808;
    font-weight:bold; 
    padding-left:0px;
    padding-bottom:5px;
    padding-top:10px;
    width:auto;
    float:left;
}
.TituloPrincipalesConsulta
{
    font-size:14px;  
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    text-decoration: none; 
    font-weight: bold;
    color:#8A0808;
    font-weight:bold; 
    padding-left:0px;
    padding-bottom:0px;
    padding-top:10px;
    float:left;
    position:absolute;
}
.TituloPrincipalesRojos
{
    font-size:14px;  
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    text-decoration: none; 
    font-weight: bold;
    color:#8A0808;
    font-weight:bold; 

}
.TituloEtiquetaRoja
{
    font-size:12px;  
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    text-decoration: none; 
    font-weight: bold;
    color:#8A0808;
    font-weight:bold; 
    padding-left:0px;
    padding-bottom:0px;
    padding-top:0px;

}
.ButtonLink
{
    text-decoration:none;
}

.Hiperlink
{
    font-size: 12px !important;
    color:#8A0808 !important;
    text-decoration:underline !important;
    line-height: normal !important;
    font-family: Arial,Verdana, Helvetica !important;
    letter-spacing : normal !important; 
}

.Hiperlink:hover
{
    font-size: 13px !important;
    color:#B40404 !important;
    text-decoration:underline !important;
    line-height: normal !important;
    font-family : Arial,Verdana, Helvetica !important;
    letter-spacing : normal !important; 
}
